<html lang="en">

<head>
    <title>Wits Spatial Energy Visualisations</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cdn/css/bootstrap.css">
    <link rel="stylesheet" href="/cdn/css/landingPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/cdn/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/cdn/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/cdn/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/cdn/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/cdn/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/cdn/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/cdn/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/cdn/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/cdn/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/cdn/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/cdn/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/cdn/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/cdn/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/cdn/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
    <script src="/cdn/libraries/jquery.js"></script>
    <script src="/cdn/libraries/bootstrap.min.js"></script>
    <script src="/cdn/scripts/landingPage.js"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-default">
            <!-- <div class="row centered"> -->
            <div style="text-align:center">
                <a href="#">
                    <i class="fa fa-bolt"></i>
                    <span class="title-text">WITS SPATIAL ENERGY VISUALISATIONS</span>
                </a>
            </div>
        </nav>
    </div>
</body>

</html>