<html lang="en">

<head>
    <title>Wits Spatial Energy Visualisations</title>
    <meta charset="utf-8" />
    <link rel="preload" href="/cdn/css/bootstrap.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/cdn/css/bootstrap.css"></noscript>
    <link rel="preload" href="/cdn/css/landingPage.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/cdn/css/landingPage.css"></noscript>
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"></noscript>
    <link rel="apple-touch-icon" sizes="57x57" href="/cdn/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/cdn/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/cdn/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/cdn/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/cdn/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/cdn/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/cdn/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/cdn/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/cdn/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/cdn/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/cdn/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/cdn/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/cdn/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/cdn/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
    <script defer src="/cdn/libraries/jquery.js"></script>
    <script defer src="/cdn/libraries/bootstrap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script defer src="/cdn/scripts/displayUtilities.js"></script>
    <script defer src="/cdn/scripts/graphBubbles.js"></script>
    <script defer src="/cdn/scripts/loadingAnimation.js"></script>
    <script defer src="/cdn/scripts/lineGraph.js"></script>
    <script defer src="/cdn/scripts/DBquery.js"></script>
    <script defer src="/cdn/scripts/dashboard.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <!-- <div class="row centered"> -->
        <div style="text-align:center">
            <a href="/">
                <span>
                    <img class="title-image" src="/cdn/images/title-animation.gif"></img>
                </span>
                <span class="title-text">WITS SPATIAL ENERGY VISUALISATIONS</span>
            </a>
        </div>
    </nav>
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">DASHBOARD</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li onclick="graphLoad('line')">
                        <a href="#">
                            Graph 1
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-chart-pie"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Graph 2
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-chart-area"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Graph 3
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-chart-bar"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Report Wastage
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About Us
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact Us
                            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-phone"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="chart" style="text-align: center;"></div> 
    <div id="mainBubble">
        <svg class="mainBubbleSVG"></svg>
    </div>
    <div id="line-chart"></div>
    <div id="circle-pack"></div>
</body>
</html>