<html lang="en">

<head>
    <title>Wits Spatial Energy Visualisations</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cdn/css/bootstrap.css">
    <link rel="stylesheet" href="/cdn/css/landingPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/cdn/libraries/jquery.js"></script>
    <script src="/cdn/libraries/bootstrap.min.js"></script>
    <script src="/cdn/scripts/landingPage.js"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-default">
            <!-- <div class="row centered"> -->
            <div style="text-align:center">
                <a href="#">
                    <i class="fa fa-bolt"></i>
                    <span class="title-text">WITS SPATIAL ENERGY VISUALISATIONS</span>
                </a>
            </div>
        </nav>
    </div>
</body>

</html>